#DIV_1 {
    height: 448px;
    width: 996px;
    font: 13px / 18.5714px "Open Sans", sans-serif, Arial;
}/*#DIV_1*/



#DIV_3 {
    align-items: center;
    block-size: 60px;
    border-block-end-color: rgb(77, 80, 87);
    border-block-start-color: rgb(77, 80, 87);
    border-inline-end-color: rgb(77, 80, 87);
    border-inline-start-color: rgb(77, 80, 87);
    box-sizing: border-box;
    caret-color: rgb(77, 80, 87);
    color: rgb(77, 80, 87);
    column-rule-color: rgb(77, 80, 87);
    display: flex;
    height: 60px;
    inline-size: 976px;
    padding-block-start: 15px;
    perspective-origin: 488px 23px;
    text-decoration: none solid rgb(77, 80, 87);
    transform-origin: 488px 23px;
    width: 976px;
    border: 0px none rgb(77, 80, 87);
    font: 13px / 18.5714px "Open Sans", sans-serif, Arial;
    outline: rgb(77, 80, 87) none 0px;
}/*#DIV_3*/

#H1_5 {
    block-size: 31px;
    border-block-end-color: rgb(42, 42, 42);
    border-block-start-color: rgb(42, 42, 42);
    border-inline-end-color: rgb(42, 42, 42);
    border-inline-start-color: rgb(42, 42, 42);
    box-sizing: border-box;
    caret-color: rgb(42, 42, 42);
    color: rgb(42, 42, 42);
    column-rule-color: rgb(42, 42, 42);
    height: 31px;
    inline-size: 212.234px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: 300px;
    perspective-origin: 106.109px 15.5px;
    text-decoration: none solid rgb(42, 42, 42);
    transform-origin: 106.117px 15.5px;
    width: 212.234px;
    border: 0px none rgb(42, 42, 42);
    font: 600 22px / 31.4286px "Open Sans", sans-serif, Arial;
    margin: 0px;
    outline: rgb(42, 42, 42) none 0px;
}/*#H1_5*/

#DIV_8 {
    block-size: 25px;
    border-block-end-color: rgb(77, 80, 87);
    border-block-start-color: rgb(77, 80, 87);
    border-inline-end-color: rgb(77, 80, 87);
    border-inline-start-color: rgb(77, 80, 87);
    box-sizing: border-box;
    caret-color: rgb(77, 80, 87);
    color: rgb(77, 80, 87);
    column-rule-color: rgb(77, 80, 87);
    height: 25px;
    inline-size: 445.484px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 222.734px 12.5px;
    text-decoration: none solid rgb(77, 80, 87);
    transform-origin: 222.742px 12.5px;
    vertical-align: middle;
    width: 90px;
    border: 0px none rgb(77, 80, 87);
    font: 13px / 18.5714px "Open Sans", sans-serif, Arial;
    outline: rgb(77, 80, 87) none 0px;
}/*#DIV_8*/





#SPAN_11 {
    block-size: 20px;
    border-block-end-color: rgb(19, 182, 93);
    border-block-start-color: rgb(19, 182, 93);
    border-inline-end-color: rgb(19, 182, 93);
    border-inline-start-color: rgb(19, 182, 93);
    box-sizing: border-box;
    caret-color: rgb(19, 182, 93);
    color: rgb(19, 182, 93);
    column-rule-color: rgb(19, 182, 93);
    display: inline-block;
    height: 20px;
    inline-size: 19.8594px;
    perspective-origin: 9.92188px 10px;
    text-decoration: none solid rgb(19, 182, 93);
    transform-origin: 9.92969px 10px;
    vertical-align: middle;
    width: 19.8594px;
    border: 0px none rgb(19, 182, 93);
    font: 600 14px / 20px "Open Sans", sans-serif, Arial;
    outline: rgb(19, 182, 93) none 0px;
}/*#SPAN_11*/


#A_14 {
    border-block-end-color: rgb(2, 136, 209);
    border-block-start-color: rgb(2, 136, 209);
    border-inline-end-color: rgb(2, 136, 209);
    border-inline-start-color: rgb(2, 136, 209);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(2, 136, 209);
    color: rgb(2, 136, 209);
    column-rule-color: rgb(2, 136, 209);
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-inline-start: 12px;
    padding-inline-start: 14px;
    perspective-origin: 0px 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(2, 136, 209);
    top: 0px;
    transform-origin: 0px 0px;
    border: 0px none rgb(2, 136, 209);
    font: 14px / 20px "Open Sans", sans-serif, Arial;
    margin: 0px 0px 0px 12px;
    outline: rgb(2, 136, 209) none 0px;
    padding: 0px 14px 0px 14px;
}/*#A_14*/


#SPAN_15, #SPAN_19 {
    border-block-end-color: rgb(2, 136, 209);
    border-block-start-color: rgb(2, 136, 209);
    border-inline-end-color: rgb(2, 136, 209);
    border-inline-start-color: rgb(2, 136, 209);
    box-sizing: border-box;
    caret-color: rgb(2, 136, 209);
    color: rgb(2, 136, 209);
    column-rule-color: rgb(2, 136, 209);
    cursor: pointer;
    perspective-origin: 0px 0px;
    text-decoration: none solid rgb(2, 136, 209);
    transform-origin: 0px 0px;
    border: 0px none rgb(2, 136, 209);
    font: 14px / 20px "Open Sans", sans-serif, Arial;
    outline: rgb(2, 136, 209) none 0px;
}/*#SPAN_15, #SPAN_19*/

#SPAN_16 {
    border-block-end-color: rgb(2, 136, 209);
    border-block-start-color: rgb(2, 136, 209);
    border-inline-end-color: rgb(2, 136, 209);
    border-inline-start-color: rgb(2, 136, 209);
    box-sizing: border-box;
    caret-color: rgb(2, 136, 209);
    color: rgb(2, 136, 209);
    column-rule-color: rgb(2, 136, 209);
    cursor: pointer;
    perspective-origin: 0px 0px;
    text-decoration: none solid rgb(2, 136, 209);
    transform-origin: 0px 0px;
    border: 0px none rgb(2, 136, 209);
    font: 14px / 20px "Open Sans", sans-serif, Arial;
    outline: rgb(2, 136, 209) none 0px;
    padding: 0px 14px 0px 14px;
}



#DIV_21 {
    block-size: 45px;
    border-block-end-color: rgb(77, 80, 87);
    border-block-start-color: rgb(77, 80, 87);
    border-inline-end-color: rgb(77, 80, 87);
    border-inline-start-color: rgb(77, 80, 87);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(77, 80, 87);
    color: rgb(77, 80, 87);
    column-rule-color: rgb(77, 80, 87);
    height: 45px;
    inline-size: 976px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    perspective-origin: 488px 22.5px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(77, 80, 87);
    top: 0px;
    transform-origin: 488px 22.5px;
    width: 976px;
    border: 0px none rgb(77, 80, 87);
    font: 13px / 18.5714px "Open Sans", sans-serif, Arial;
    outline: rgb(77, 80, 87) none 0px;
}/*#DIV_21*/



#DIV_23 {
    block-size: 43px;
    border-block-end-color: rgb(77, 80, 87);
    border-block-start-color: rgb(77, 80, 87);
    border-inline-end-color: rgb(77, 80, 87);
    border-inline-start-color: rgb(77, 80, 87);
    box-sizing: border-box;
    caret-color: rgb(77, 80, 87);
    color: rgb(77, 80, 87);
    column-rule-color: rgb(77, 80, 87);
    display: table;
    height: 43px;
    inline-size: 889.031px;
    perspective-origin: 444.516px 21.5px;
    text-decoration: none solid rgb(77, 80, 87);
    transform-origin: 444.516px 21.5px;
    width: 889.031px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(77, 80, 87);
    font: 13px / 18.5714px "Open Sans", sans-serif, Arial;
    outline: rgb(77, 80, 87) none 0px;
}/*#DIV_23*/



#SPAN_24 {
    block-size: 20px;
    border-block-end-color: rgb(239, 63, 48);
    border-block-end-style: solid;
    border-block-end-width: 3px;
    border-block-start-color: rgb(77, 80, 87);
    border-inline-end-color: rgb(77, 80, 87);
    border-inline-start-color: rgb(77, 80, 87);
    box-sizing: border-box;
    caret-color: rgb(77, 80, 87);
    color: rgb(77, 80, 87);
    column-rule-color: rgb(77, 80, 87);
    cursor: pointer;
    display: table-cell;
    height: 20px;
    inline-size: 95.4844px;
    perspective-origin: 47.7344px 21.5px;
    text-align: left;
    text-decoration: none solid rgb(77, 80, 87);
    transform-origin: 47.7422px 21.5px;
    white-space: nowrap;
    width: 95.4844px;
    border-top: 0px none rgb(77, 80, 87);
    border-right: 0px none rgb(77, 80, 87);
    border-bottom: 3px solid rgb(239, 63, 48);
    border-left: 0px none rgb(77, 80, 87);
    font: 600 14px / 20px "Open Sans", sans-serif, Arial;
    outline: rgb(77, 80, 87) none 0px;
}/*#SPAN_24*/



#DIV_215 {
    block-size: 212px;
    border-block-end-color: rgb(77, 80, 87);
    border-block-start-color: rgb(77, 80, 87);
    border-inline-end-color: rgb(77, 80, 87);
    border-inline-start-color: rgb(77, 80, 87);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(77, 80, 87);
    color: rgb(77, 80, 87);
    column-rule-color: rgb(77, 80, 87);
    height: 212px;
    inline-size: 380px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-end: 10px;
    perspective-origin: 190px 106px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(77, 80, 87);
    top: 0px;
    transform-origin: 190px 106px;
    width: 380px;
    border: 0px none rgb(77, 80, 87);
    font: 13px / 18.5714px "Open Sans", sans-serif, Arial;
    margin: 0px 0px 10px;
    outline: rgb(77, 80, 87) none 0px;
}/*#DIV_215*/

#LI_181 {
    block-size: 28px;
    border-block-end-color: rgb(226, 226, 226);
    border-block-end-style: solid;
    border-block-end-width: 1px;
    border-block-start-color: rgb(226, 226, 226);
    border-block-start-style: solid;
    border-block-start-width: 1px;
    border-inline-end-color: rgb(77, 80, 87);
    border-inline-start-color: rgb(226, 226, 226);
    border-inline-start-style: solid;
    border-inline-start-width: 1px;
    box-sizing: border-box;
    caret-color: rgb(77, 80, 87);
    color: rgb(77, 80, 87);
    column-rule-color: rgb(77, 80, 87);
    cursor: default;
    display: inline-block;
    height: 28px;
    inline-size: 89.3281px;
    margin-inline-end: -4px;
    padding-block-end: 5px;
    padding-block-start: 4px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 44.6562px 14px;
    pointer-events: none;
    text-align: center;
    text-decoration: none solid rgb(77, 80, 87);
    transform-origin: 44.6641px 14px;
    user-select: none;
    width: 89.3281px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 1px solid rgb(226, 226, 226);
    border-right: 0px none rgb(77, 80, 87);
    border-bottom: 1px solid rgb(226, 226, 226);
    border-left: 1px solid rgb(226, 226, 226);
    font: 600 12px / 17.1429px "Open Sans", sans-serif, Arial;
    list-style: outside none none;
    margin: 0px -4px 0px 0px;
    outline: rgb(77, 80, 87) none 0px;
    padding: 4px 15px 5px;
}/*#LI_181*/


#SPAN_182 {
    border-block-end-color: rgb(77, 80, 87);
    border-block-start-color: rgb(77, 80, 87);
    border-inline-end-color: rgb(77, 80, 87);
    border-inline-start-color: rgb(77, 80, 87);
    box-sizing: border-box;
    caret-color: rgb(77, 80, 87);
    color: rgb(77, 80, 87);
    column-rule-color: rgb(77, 80, 87);
    cursor: default;
    perspective-origin: 0px 0px;
    pointer-events: none;
    text-align: center;
    text-decoration: none solid rgb(77, 80, 87);
    transform-origin: 0px 0px;
    user-select: none;
    border: 0px none rgb(77, 80, 87);
    font: 600 12px / 17.1429px "Open Sans", sans-serif, Arial;
    list-style: outside none none;
    outline: rgb(77, 80, 87) none 0px;
}/*#SPAN_182*/


#SPAN_183 {
    border-block-end-color: rgb(77, 80, 87);
    border-block-start-color: rgb(77, 80, 87);
    border-inline-end-color: rgb(77, 80, 87);
    border-inline-start-color: rgb(77, 80, 87);
    box-sizing: border-box;
    caret-color: rgb(77, 80, 87);
    color: rgb(77, 80, 87);
    column-rule-color: rgb(77, 80, 87);
    cursor: default;
    display: none;
    pointer-events: none;
    text-align: center;
    text-decoration: none solid rgb(77, 80, 87);
    user-select: none;
    border: 0px none rgb(77, 80, 87);
    font: 600 12px / 17.1429px "Open Sans", sans-serif, Arial;
    list-style: outside none none;
    outline: rgb(77, 80, 87) none 0px;
}/*#SPAN_183*/


#LI_184 {
    block-size: 28px;
    border-block-end-color: rgb(226, 226, 226);
    border-block-end-style: solid;
    border-block-end-width: 1px;
    border-block-start-color: rgb(226, 226, 226);
    border-block-start-style: solid;
    border-block-start-width: 1px;
    border-inline-end-color: rgb(226, 226, 226);
    border-inline-end-style: solid;
    border-inline-end-width: 1px;
    border-inline-start-color: rgb(226, 226, 226);
    border-inline-start-style: solid;
    border-inline-start-width: 1px;
    box-sizing: border-box;
    caret-color: rgb(130, 136, 139);
    color: rgb(130, 136, 139);
    column-rule-color: rgb(130, 136, 139);
    cursor: pointer;
    display: inline-block;
    height: 28px;
    inline-size: 98.1875px;
    margin-inline-end: -4px;
    padding-block-end: 5px;
    padding-block-start: 4px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 49.0938px 14px;
    text-align: center;
    text-decoration: none solid rgb(130, 136, 139);
    transform-origin: 49.0938px 14px;
    user-select: none;
    width: 98.1875px;
    background: rgb(245, 245, 245) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(226, 226, 226);
    font: 12px / 17.1429px "Open Sans", sans-serif, Arial;
    list-style: outside none none;
    margin: 0px -4px 0px 0px;
    outline: rgb(130, 136, 139) none 0px;
    padding: 4px 15px 5px;
}/*#LI_184*/

#LI_184:after {
    border-block-end-color: rgb(130, 136, 139);
    border-block-start-color: rgb(130, 136, 139);
    border-inline-end-color: rgb(130, 136, 139);
    border-inline-start-color: rgb(130, 136, 139);
    box-sizing: border-box;
    caret-color: rgb(130, 136, 139);
    color: rgb(130, 136, 139);
    column-rule-color: rgb(130, 136, 139);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(130, 136, 139);
    user-select: none;
    border: 0px none rgb(130, 136, 139);
    font: 12px / 17.1429px "Open Sans", sans-serif, Arial;
    list-style: outside none none;
    outline: rgb(130, 136, 139) none 0px;
}/*#LI_184:after*/

#LI_184:before {
    border-block-end-color: rgb(130, 136, 139);
    border-block-start-color: rgb(130, 136, 139);
    border-inline-end-color: rgb(130, 136, 139);
    border-inline-start-color: rgb(130, 136, 139);
    box-sizing: border-box;
    caret-color: rgb(130, 136, 139);
    color: rgb(130, 136, 139);
    column-rule-color: rgb(130, 136, 139);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(130, 136, 139);
    user-select: none;
    border: 0px none rgb(130, 136, 139);
    font: 12px / 17.1429px "Open Sans", sans-serif, Arial;
    list-style: outside none none;
    outline: rgb(130, 136, 139) none 0px;
}/*#LI_184:before*/

#SPAN_185 {
    border-block-end-color: rgb(130, 136, 139);
    border-block-start-color: rgb(130, 136, 139);
    border-inline-end-color: rgb(130, 136, 139);
    border-inline-start-color: rgb(130, 136, 139);
    box-sizing: border-box;
    caret-color: rgb(130, 136, 139);
    color: rgb(130, 136, 139);
    column-rule-color: rgb(130, 136, 139);
    cursor: pointer;
    display: none;
    text-align: center;
    text-decoration: none solid rgb(130, 136, 139);
    user-select: none;
    border: 0px none rgb(130, 136, 139);
    font: 12px / 17.1429px "Open Sans", sans-serif, Arial;
    list-style: outside none none;
    outline: rgb(130, 136, 139) none 0px;
}/*#SPAN_185*/


#SPAN_186 {
    border-block-end-color: rgb(130, 136, 139);
    border-block-start-color: rgb(130, 136, 139);
    border-inline-end-color: rgb(130, 136, 139);
    border-inline-start-color: rgb(130, 136, 139);
    box-sizing: border-box;
    caret-color: rgb(130, 136, 139);
    color: rgb(130, 136, 139);
    column-rule-color: rgb(130, 136, 139);
    cursor: pointer;
    perspective-origin: 0px 0px;
    text-align: center;
    text-decoration: none solid rgb(130, 136, 139);
    transform-origin: 0px 0px;
    user-select: none;
    border: 0px none rgb(130, 136, 139);
    font: 12px / 17.1429px "Open Sans", sans-serif, Arial;
    list-style: outside none none;
    outline: rgb(130, 136, 139) none 0px;
}/*#SPAN_186*/


#DIV_187 {
    border-block-end-color: rgb(77, 80, 87);
    border-block-start-color: rgb(77, 80, 87);
    border-inline-end-color: rgb(77, 80, 87);
    border-inline-start-color: rgb(77, 80, 87);
    box-sizing: border-box;
    caret-color: rgb(77, 80, 87);
    color: rgb(77, 80, 87);
    column-rule-color: rgb(77, 80, 87);
    display: none;
    text-decoration: none solid rgb(77, 80, 87);
    border: 0px none rgb(77, 80, 87);
    font: 13px / 18.5714px "Open Sans", sans-serif, Arial;
    outline: rgb(77, 80, 87) none 0px;
}/*#DIV_187*/

#SPAN_196 {
    block-size: 100%;
    border-block-end-color: rgb(77, 80, 87);
    border-block-start-color: rgb(77, 80, 87);
    border-inline-end-color: rgb(77, 80, 87);
    border-inline-start-color: rgb(77, 80, 87);
    box-sizing: border-box;
    caret-color: rgb(77, 80, 87);
    color: rgb(77, 80, 87);
    column-rule-color: rgb(77, 80, 87);
    cursor: pointer;
    display: block;
    height: 100%;
    inline-size: 100%;
    text-align: center;
    text-decoration: none solid rgb(77, 80, 87);
    width: 100%;
    background: rgb(197, 22, 29) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(77, 80, 87);
    font: 13px / 18.5714px "Open Sans", sans-serif, Arial;
    list-style: outside none none;
    outline: rgb(77, 80, 87) none 0px;
}/*#SPAN_196*/


#INPUT_212, #INPUT_213 {
    border-block-end-color: rgb(0, 0, 0);
    border-block-end-style: none;
    border-block-end-width: 0px;
    border-block-start-color: rgb(0, 0, 0);
    border-block-start-style: none;
    border-block-start-width: 0px;
    border-inline-end-color: rgb(0, 0, 0);
    border-inline-end-style: none;
    border-inline-end-width: 0px;
    border-inline-start-color: rgb(0, 0, 0);
    border-inline-start-style: none;
    border-inline-start-width: 0px;
    display: none;
    padding-block-end: 0px;
    padding-block-start: 0px;
    padding-inline-end: 0px;
    padding-inline-start: 0px;
    border: 0px none rgb(0, 0, 0);
    padding: 0px;
}/*#INPUT_212, #INPUT_213*/

#INPUT_212:after, #INPUT_213:after {
    box-sizing: border-box;
}/*#INPUT_212:after, #INPUT_213:after*/

#INPUT_212:before, #INPUT_213:before {
    box-sizing: border-box;
}/*#INPUT_212:before, #INPUT_213:before*/





#DIV_257 {
    block-size: 47px;
    color: rgb(77, 80, 87);
    column-rule-color: rgb(77, 80, 87);
    height: 47px;
    margin-inline-start: 10px;
    position: relative;
    text-decoration: none solid rgb(77, 80, 87);
    transform-origin: 175px 23.5px;
    width: 500px;
    font: 13px / 18.5714px "Open Sans", sans-serif, Arial;
    margin: 0px 0px 0px 10px;
    overflow: unset;
}/*#DIV_257*/

#LI_259 {
    block-size: 45px;
    border-block-end-color: rgb(65, 180, 196);
    border-block-end-style: solid;
    border-block-end-width: 1px;
    border-block-start-color: rgb(65, 180, 196);
    border-block-start-style: solid;
    border-block-start-width: 1px;
    border-inline-end-color: rgb(65, 180, 196);
    border-inline-end-style: solid;
    border-inline-end-width: 1px;
    border-inline-start-color: rgb(65, 180, 196);
    border-inline-start-style: solid;
    border-inline-start-width: 1px;
    box-sizing: border-box;
    caret-color: rgb(77, 80, 87);
    color: rgb(77, 80, 87);
    column-rule-color: rgb(77, 80, 87);
    cursor: pointer;
    float: left;
    height: 45px;
    inline-size: 80px;
    margin-inline-end: 10px;
    perspective-origin: 40px 22.5px;
    text-decoration: none solid rgb(77, 80, 87);
    transform-origin: 40px 22.5px;
    width: 80px;
    border: 1px solid rgb(65, 180, 196);
    font: 13px / 18.5714px "Open Sans", sans-serif, Arial;
    list-style: outside none none;
    margin: 0px 10px 0px 0px;
    outline: rgb(77, 80, 87) none 0px;
    overflow: hidden;
}/*#LI_259*/



#IMG_261, #IMG_264, #IMG_267, #IMG_270, #IMG_273, #IMG_276, #IMG_279 {
    block-size: 45px;
    border-block-end-color: rgb(77, 80, 87);
    border-block-end-style: solid;
    border-block-start-color: rgb(77, 80, 87);
    border-block-start-style: solid;
    border-inline-end-color: rgb(77, 80, 87);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(77, 80, 87);
    border-inline-start-style: solid;
    box-sizing: border-box;
    caret-color: rgb(77, 80, 87);
    color: rgb(77, 80, 87);
    column-rule-color: rgb(77, 80, 87);
    cursor: pointer;
    height: 45px;
    inline-size: 81.1406px;
    perspective-origin: 40.5625px 22.5px;
    text-align: center;
    text-decoration: none solid rgb(77, 80, 87);
    transform-origin: 40.5703px 22.5px;
    width: 81.1406px;
    border: 0px solid rgb(77, 80, 87);
    font: 13px / 18.5714px "Open Sans", sans-serif, Arial;
    list-style: outside none none;
    outline: rgb(77, 80, 87) none 0px;
}/*#IMG_261, #IMG_264, #IMG_267, #IMG_270, #IMG_273, #IMG_276, #IMG_279*/


#LI_262, #LI_265, #LI_271, #LI_277, #LI_283, #LI_286 {
    block-size: 45px;
    border-block-end-color: rgb(226, 226, 226);
    border-block-end-style: solid;
    border-block-end-width: 1px;
    border-block-start-color: rgb(226, 226, 226);
    border-block-start-style: solid;
    border-block-start-width: 1px;
    border-inline-end-color: rgb(226, 226, 226);
    border-inline-end-style: solid;
    border-inline-end-width: 1px;
    border-inline-start-color: rgb(226, 226, 226);
    border-inline-start-style: solid;
    border-inline-start-width: 1px;
    box-sizing: border-box;
    caret-color: rgb(77, 80, 87);
    color: rgb(77, 80, 87);
    column-rule-color: rgb(77, 80, 87);
    cursor: pointer;
    float: left;
    height: 45px;
    inline-size: 80px;
    margin-inline-end: 10px;
    perspective-origin: 40px 22.5px;
    text-decoration: none solid rgb(77, 80, 87);
    transform-origin: 40px 22.5px;
    width: 80px;
    border: 1px solid rgb(226, 226, 226);
    font: 13px / 18.5714px "Open Sans", sans-serif, Arial;
    list-style: outside none none;
    margin: 0px 10px 0px 0px;
    outline: rgb(77, 80, 87) none 0px;
    overflow: hidden;
}/*#LI_262, #LI_265, #LI_271, #LI_277, #LI_283, #LI_286*/


#LI_268, #LI_274 {
    block-size: 45px;
    border-block-end-color: rgb(226, 226, 226);
    border-block-end-style: solid;
    border-block-end-width: 1px;
    border-block-start-color: rgb(226, 226, 226);
    border-block-start-style: solid;
    border-block-start-width: 1px;
    border-inline-end-color: rgb(226, 226, 226);
    border-inline-end-style: solid;
    border-inline-end-width: 1px;
    border-inline-start-color: rgb(226, 226, 226);
    border-inline-start-style: solid;
    border-inline-start-width: 1px;
    box-sizing: border-box;
    caret-color: rgb(77, 80, 87);
    color: rgb(77, 80, 87);
    column-rule-color: rgb(77, 80, 87);
    cursor: pointer;
    float: left;
    height: 45px;
    inline-size: 80px;
    margin-inline-end: 10px;
    perspective-origin: 40px 22.5px;
    text-decoration: none solid rgb(77, 80, 87);
    transform-origin: 40px 22.5px;
    width: 80px;
    border: 1px solid rgb(226, 226, 226);
    font: 13px / 18.5714px "Open Sans", sans-serif, Arial;
    list-style: outside none none;
    margin: 0px 10px 0px 0px;
    outline: rgb(77, 80, 87) none 0px;
    overflow: hidden;
}/*#LI_268, #LI_274*/




.button1 {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 7px;
  }

  .checked {
    color: rgb(19, 182, 93);
    align-content: center;
  }

